@using Microsoft.AspNetCore.Identity
@using BPMWebConsole.Models.Entities
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<header>
    <div class="header_left">
        <div class="airport_logo">
            <img src="~/image/airport.png" alt="Taoyuan Airport Logo" />
        </div>
        <div class="system_name">
            桃園機場 BPM系統 訊息交換監視
        </div>
    </div>
    <div class="header_right">
        <div class="time_disp">
            <div class="date_count" id="date_count">2020/01/22</div>
            <div class="time_count" id="time_count">14:40:35</div>
        </div>
        @if (SignInManager.IsSignedIn(User))
        {
            <div class="login_area">
                <div class="login_name">
                    <i class="fa fa-user fa-lg"></i>
                    <span>@User.FindFirst("FullName").Value</span>
                </div>
            </div>
            <div class="login_area">
                <form class="logout_form" method="post" asp-controller="Account" asp-action="Logout">
                    <button class="button logout" id="submit_btn" type="submit">
                        <i class="fa fa-sign-out-alt fa-lg"></i>
                        <span>登出</span>
                    </button>
                </form>
            </div>
        }
        else
        {
            <div class="login_area">
                <div class="login_name">
                    <i class="fa fa-user fa-lg"></i>
                    <span>未登入使用者</span>
                </div>
            </div>
        }

        <button id="autoClick" style="display: none" />
    </div>
    @*<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">BPMWebConsole</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>*@
</header>