<div class="left_menu">
    <div class="menu_area">
        <div class="tag_color">
            <a asp-area="" asp-controller="Dashboard" asp-action="Index">
                <div class="menu_name">狀態監控</div>
            </a>
        </div>
        @*<div class="sub_list">

        </div>*@
    </div>
    <div class="menu_area">
        <div class="tag_color">
            <a asp-area="" asp-controller="Statistics" asp-action="Index">
                <div class="menu_name">統計數量查詢</div>
            </a>
        </div>
        @*<div class="sub_list">
            
        </div>*@
    </div>
    <div class="menu_area">
        <div class="tag_color">
            <a asp-area="" asp-controller="Event" asp-action="Index">
                <div class="menu_name">系統異常事件通報</div>
            </a>
        </div>
        @*<div class="sub_list">
            
        </div>*@
    </div>
    <div class="menu_bookmark">
        <div>MENU</div>
    </div>
</div>