.content .account_container .account_area .register_form {
    position: relative;
    box-sizing: border-box;
    width: 90%;
    margin: auto;
    padding-top: 3%;
}

    .content .account_container .account_area .register_form .condition_area,
    .content .account_container .account_area .register_form .condition_area div {
        display: inline-block;
    }

        .content .account_container .account_area .register_form .condition_area .register_input {
            line-height: 30px;
            width: 100%;
            margin: 12px auto;
        }

        .content .account_container .account_area .register_form .condition_area label {
            margin: 0 auto;
        }

        .content .account_container .account_area .register_form .condition_area .register_input input {
            font-size: 16px;
            font-weight: bold;
            line-height: 30px;
        }

.content .account_container .account_area .register_form .submit_area {
    text-align: center;
}

    .content .account_container .account_area .register_form .submit_area .button {
        height: 40px;
        width: 30%;
        margin: 1vh auto;
        font-size: 18px;
    }

        .content .account_container .account_area .register_form .submit_area button:hover {
            background-color: #141822;
            transition: .2s;
        }

    .content .account_container .account_area .register_form .submit_area .register {
        background-color: #faa21b;
        margin-right: 2vw;
    }

    .content .account_container .account_area .register_form .submit_area .back {
        background-color: #1376bb;
    }

@media screen and (max-width: 1366px) {
    .content .account_container .account_area .register_form .condition_area .register_input {
        margin: 3px auto;
    }
}
