@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "_LayoutAccount";
}

@model BPMWebConsole.Models.ViewModels.ForgotPasswordModel

@section styles {
    <link rel="stylesheet" href="~/css/ForgotPassword.css" />
}

@section scripts {
    <script src="~/js/ForgotPassword.js"></script>
}

<div class="title">
    忘記密碼了嗎？<br />
    <span>請輸入您欲重置的使用者帳號：</span>
</div>
<form class="forgot_form" id="forgot_form" asp-controller="Account" asp-action="ForgotPassword">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="condition_area">
        <div class="forgot_input inner-addon left-addon">
            <i class="far fa-envelope glyphicon"></i>
            <input class="form-control" type="email" placeholder="帳號，例：abc123@gmail.com" asp-for="Email" />
        </div>
    </div>
    <div class="submit_area">
        <button class="button forgot" id="submit_btn" type="submit">提交</button>
        <button class="button back" id="back_btn" type="button">返回</button>
    </div>
</form>
