@{
    ViewData["Title"] = "ResetPassword";
    Layout = "_LayoutAccount";
}

@model BPMWebConsole.Models.ViewModels.ResetPasswordModel

@section styles {
    <link rel="stylesheet" href="~/css/ResetPassword.css" />
}

@section scripts {
    <script src="~/js/ResetPassword.js"></script>
}

<div class="title">
    Reset Password<br />
    重置您的密碼
</div>
<form class="reset_form" id="reset_form" asp-controller="Account" asp-action="ResetPassword">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="condition_area">
        <div class="reset_input inner-addon left-addon">
            <i class="fa fa-lock fa-1x glyphicon"></i>
            <input class="form-control" type="password" placeholder="輸入您的密碼" asp-for="Password" />
        </div>
        <div class="reset_input inner-addon left-addon">
            <i class="fa fa-lock fa-1x glyphicon"></i>
            <input class="form-control" type="password" placeholder="重複輸入密碼" asp-for="ConfirmPassword" />
        </div>
        <input class="form-control" type="hidden" asp-for="Email" />
        <input class="form-control" type="hidden" asp-for="Token" />
    </div>
    <div class="submit_area">
        <button class="button reset" id="submit_btn" type="submit">重置</button>
    </div>
</form>
